:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: linear-gradient(135deg, #75b876 0%, #000000 100%);
  color: rgba(255, 255, 255, 0.87);
  background-attachment: fixed;
}

.random_student {
  font-size: 1vw;
  font-weight: 900;
  position: absolute;
  top: 0;
}

td, th {
  border: white solid;
  border-width: 1px;
}

table{
  border-spacing: 0px;
  width: 90vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.btnTable{
  position: fixed;
  bottom: 0;
}

.App-logo{
  height: 15vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.imagesize{
  height: 15vw;
}

.App-header p{
  padding-top: 14vw;
  font-weight: 900;
  font-size: 2.5vw;
  text-align: center;
}

.App-intro div{
  padding-top: 1vw;
  font-size: 1.5vw;
  align-items: center;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 47vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin: 2px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media only screen and (max-width:1540px){
  .Student, .Staff, .AlternateActor, .AlternateName, .Image{
    display: none;
  }
}
@media only screen and (max-width:1017px){
  .Wand{
    display: none;
  }
}
@media only screen and (max-width:888px){
  .DateOfBirth{
    display: none;
  }
  .App-header p{
    padding-top: 0vw;
  }
}
@media only screen and (max-width:788px){
  .EyeColour, .HairColour{
    display: none;
  }
}
@media only screen and (max-width:630px){
  .Actor{
    display: none;
  }
}
@media only screen and (max-width:552px){
  .Alive{
    display: none;
  }
}
@media only screen and (max-width:521px){
  .Gender{
    display: none;
  }
}
@media only screen and (max-width:463px){
  .Wizard{
    display: none;
  }
}